<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primario</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus recusandae aliquam enim possimus? Aliquid impedit vel nemo voluptatum provident expedita. Totam est architecto exercitationem omnis ab officiis ea ad quisquam?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Secundario</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus recusandae aliquam enim possimus? Aliquid impedit vel nemo voluptatum provident expedita. Totam est architecto exercitationem omnis ab officiis ea ad quisquam?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Universidad</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus recusandae aliquam enim possimus? Aliquid impedit vel nemo voluptatum provident expedita. Totam est architecto exercitationem omnis ab officiis ea ad quisquam?
            </p>
        </ul>
    </div>
</div>